{% extends 'base.html' %}
{% load static%}

{% block subheader %}
    <a href="#">Blog</a>
    <span class="separator">&#x2F;</span>
    <a href="#">Bootstrap</a>
    <span class="separator">&#x2F;</span>
    <a href="#">HTML Template</a>
{% endblock subheader %}

{% block content %}
    <div class="col-md-8 blog-main">
        <article class="blog-post">
        <header>
            <div class="lead-image">
                <img src="{% static 'blog/img/single-post.jpg' %}" alt="" class="img-responsive">
            </div>
        </header>
        <div class="body">
            <h1>{{ post.title }}</h1>
            <div class="meta">
                <i class="fa fa-user"></i> {{ post.author }} {{ post.view }}阅读
                <i class="fa fa-comments"></i><a href="#comments">{{ post.comment_set.count }} 评论</a>
                <br>
                <i class="fa fa-calendar"></i>创建时间：{{ post.created_time }}<i class="fa fa-calendar"></i>修改时间：{{ post.modified_time }}
            </div>
            <p>{{ post.body|safe }}</p>
        </div>
        </article>

        <div class="row">
            <div class="col-md-4">
                {% for tag in post.tags.all %}
                <a href="{% url 'blog:tag' tag.pk %}" class="label label-info">{{ tag.name }}</a>
                {% endfor %}
            </div>

            <div class="col-md-4">
                <h3>Share on </h3>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google"></i></a>
            </div>
        </div>

        <hr>


        <ul id="comments" class="">
            <h2><i class="fa fa-comments"></i> {{ post.comment_set.count }} Comments</h2>
            {% if comment_list %}
                {% for comment in comment_list %}
                <li class="">
                    <span class="">{{ comment.name }}</span>
                    <time class="">{{ comment.created_time }}</time>
                    <div class="">{{ comment.text }}</div>
                </li>
                {% endfor %}
            {% else %}
                <p>暂无评论</p>
            {% endif %}
        </ul>

        <hr>

        <h3><i class="fa fa-pencil"></i>提交评论</h3>

        <form action="{% url 'comments:post_comment' post.pk %}" method="post" accept-charset="utf-8" role="form">
            {% csrf_token %}
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="{{form.name.id_for.label}}">名字:</label>
                        {{ form.name }}
                        {{ form.name.errors }}
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="{{form.email.id_for.label}}">邮箱:</label>
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="{{form.text.id_for.label}}">评论:</label>
                        {{ form.text }}
                        {{ form.text.errors }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">发表</button>
        </form>
    </div>
{% endblock content %}

