{% load static %}
{% load blog_tags %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">


    <!-- Font-Awesome -->
    <link rel="stylesheet" href="{% static 'blog/css/font-awesome/css/font-awesome.min.css' %} ">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}" id="theme-styles">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">

    <!--[if lt IE 9]>
        <script src="js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->

</head>
<body>
    <header>
        <div class="widewrapper masthead">
            <div class="container">
                <a href="{% url 'blog:index' %}" id="logo">
                    <img src="{% static 'blog/img/logo.png' %}" alt="clean Blog">
                </a>

                <div id="mobile-nav-toggle" class="pull-right">
                    <a href="#" data-toggle="collapse" data-target=".clean-nav .navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>

                <nav class="pull-right clean-nav">
                    <div class="collapse navbar-collapse">
                        <ul class="nav nav-pills navbar-nav">
                            <li>
                                <a href="{% url 'blog:index' %}">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'blog:about' %}">About</a>
                            </li>
                            <li>
                                <a href="{% url 'blog:contact' %}">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="widewrapper subheader">
            <div class="container">
                <div class="clean-breadcrumb">
                    {% block subheader %}
                    {% endblock subheader %}
                </div>

                <div class="clean-searchbox">
                    <form action="#" method="get" accept-charset="utf-8">
                        <input class="searchfield" id="searchbox" type="text" placeholder="Search">
                        <button class="searchbutton" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                {% block content %}
                {% endblock content %}
                <aside class="col-md-4 blog-aside">
                    <div class="panel-group">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a id="new-article" data-toggle="collapse" href="#collapseOne">最新文章</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                {% get_recent_post_list as rencent_post %}
                                {% for post in rencent_post %}
                                <a href="{{ post.get_absolute_url }}" class="list-group-item" style="font-size:16px">
                                    <span class="badge">{{ post.created_time|date:"Y年n月j日" }}</span>{{ post.title }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <br>

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseTwo">文章点击数</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in">
                                {% get_most_viewd_posts as view_list %}
                                {% for post in view_list %}
                                <a href="{{ post.get_absolute_url }}" class="list-group-item" style="font-size:16px">
                                    <span class="badge">{{ post.view }}</span>{{ post.title }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <br>

                        <div class=" panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseThree">文章归档</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse in">
                                {% get_post_date_monthly as date_monthly %}
                                {% for date in date_monthly %}
                                <a href="{% url 'blog:archives' date.0 date.1 %}" class="list-group-item">
                                    <span class="badge">{{ date.2 }}</span>{{ date.0 }}年{{ date.1 }}月
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <br>

                        <div class=" panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseFour">文章分类</a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse in">
                                {% get_categories as categories %}
                                {% for category in categories %}
                                <a href="{% url 'blog:category' category.pk %}" class="list-group-item">
                                    <span class="badge">{{ category.post_num }}</span>{{ category.name }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <br>

                        <div class=" panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseFive">文章标签</a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse in">
                                {% get_tags as tags %}
                                {% for tag in tags %}
                                <a href="{% url 'blog:tag' tag.pk %}" class="label label-info">{{ tag.name }}
                                    <span class="badge">{{ tag.post_num }}</span>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <br>

                    </div>
                </aside>
            </div>
        </div>
    </div>

    <footer>
        <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-user"></i>About</h3>

                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi laboriosam nostrum consequatur fugiat at, labore praesentium modi, quasi dolorum debitis reiciendis facilis, dolor saepe sint nemo, earum molestias quas.</p>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, error aspernatur assumenda quae eveniet.</p>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-pencil"></i> Recent Post</h3>
                        <ul class="clean-list">
                            <li><a href="">Clean - Responsive HTML5 Template</a></li>
                            <li><a href="">Responsive Pricing Table</a></li>
                            <li><a href="">Yellow HTML5 Template</a></li>
                            <li><a href="">Blackor Responsive Theme</a></li>
                            <li><a href="">Portfolio Bootstrap Template</a></li>
                            <li><a href="">Clean Slider Template</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-envelope"></i>Contact Me</h3>

                        <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil fugiat, cupiditate veritatis excepturi tempore explicabo.</p>
                         <div class="footer-widget-icon">
                            <i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-google"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
                Copyright 2015 More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
        </div>
    </footer>

    <script src="{% static 'blog/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'blog/js/modernizr.js' %}"></script>

</body>
</html>