{% load static %}
{% load blog_tags %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">


    <!-- Font-Awesome -->
    <link rel="stylesheet" href="{% static 'blog/css/font-awesome/css/font-awesome.min.css' %} ">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}" id="theme-styles">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}" id="custom-styles">
    <link rel="stylesheet" href="{% static 'blog/css/github.css' %}">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">

    <!--[if lt IE 9]>
        <script src="js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->

</head>
<body>
    <header>
    <div id="myCarouse" class="carousel slide" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
            <li data-toggle="#myCarouse" data-slide-to="0" class="active"></li>
            <li data-toggle="#myCarouse" data-slide-to="1"></li>
            <li data-toggle="#myCarouse" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active ">
                <img src="{% static 'blog/img/2.jpg' %}" width="100%" height="20%" alt="first slide">
            </div>
            <div class="item ">
                <img src="{% static 'blog/img/3.jpg' %}" width="100%" height="20%" alt="second slide">
            </div>
            <div class="item ">
                <img src="{% static 'blog/img/4.jpg' %}" width="100%" height="20%" alt="third slide">
            </div>
        </div>
        <a class="carousel-control left" href="#myCarouse" data-slide="prev">&lsquo;</a>
        <a class="carousel-control right" href="#myCarouse" data-slide="next">&rsquo;</a>
    </div>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">有间小站</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            前端 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">HTML</a></li>
                            <li class="divider"></li>
                            <li><a href="#">CSS</a></li>
                            <li class="divider"></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            后端 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Linux</a></li>
                            <li class="divider"></li>
                            <li><a href="#">C++</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Python</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'blog:index' %}">主页</a></li>
                    <li><a href="{% url 'blog:about' %}">关于</a></li>
                    <li><a href="{% url 'blog:contact' %}">联系</a></li>
                </ul>
                <form class="navbar-form navbar-right" id="searchform" role="search" method="get" action="{% url 'haystack_search' %}">
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search" name="q" required>
                    </div>
                    <button type="submit" class="btn btn-default">
                        <i class="fa fa-search fa-lg" aria-hidden="true"></i> 搜索
                    </button>
                </form>
            </div>
        </div>
    </nav>

    </header>
    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                {% block content %}
                {% endblock content %}
                <aside class="col-md-4 blog-aside">
                    <div class="panel-group">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a id="new-article" data-toggle="collapse" href="#collapseOne">最新文章</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                {% get_recent_post_list as rencent_post %}
                                {% for post in rencent_post %}
                                <a href="{{ post.get_absolute_url }}" class="list-group-item" style="font-size:16px">
                                    <span class="badge">{{ post.created_time|date:"Y年n月j日" }}</span>{{ post.title }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <br>

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseTwo">文章点击</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in">
                                {% get_most_viewd_posts as view_list %}
                                {% for post in view_list %}
                                <a href="{{ post.get_absolute_url }}" class="list-group-item" style="font-size:16px">
                                    <span class="badge">{{ post.view }}</span>{{ post.title }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <br>

                        <div class=" panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseThree">文章归档</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse in">
                                {% get_post_date_monthly as date_monthly %}
                                {% for date in date_monthly %}
                                <a href="{% url 'blog:archives' date.0 date.1 %}" class="list-group-item">
                                    <span class="badge">{{ date.2 }}</span>{{ date.0 }}年{{ date.1 }}月
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <br>

                        <div class=" panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseFour">文章分类</a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse in">
                                {% get_categories as categories %}
                                {% for category in categories %}
                                <a href="{% url 'blog:category' category.pk %}" class="list-group-item">
                                    <span class="badge">{{ category.post_num }}</span>{{ category.name }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <br>

                        <div class=" panel panel-info">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapseFive">文章标签</a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse in">
                                {% get_tags as tags %}
                                {% for tag in tags %}
                                <a href="{% url 'blog:tag' tag.pk %}" class="label label-info">{{ tag.name }}
                                    <span class="badge">{{ tag.post_num }}</span>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <br>

                    </div>
                </aside>
            </div>
        </div>
    </div>

    <footer>
        <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-user"></i>关于</h3>
                        <p>Django框架搭建的网站，功能与界面在逐步完善中。。</p>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-pencil"></i>描述</h3>
                        <p>前端界面开始使用了模板之家的网页模板，之后使用bootstrap的元素和插件逐渐替换、完善页面的功能和效果</p>
                        <p>后端实现分类，分页，查询，保存等逻辑</p>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-envelope"></i>联系</h3>

                        <p>请发送邮件至tshjl123@gmail.com</p>
                         <div class="footer-widget-icon">
                            <i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-google"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
                Copyright 2015 More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
        </div>
    </footer>

    <script src="{% static 'blog/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'blog/js/modernizr.js' %}"></script>

</body>
</html>